<div class="container">
  <div class="row centered">
      <h2> Editar Evento </h2>
      <hr>
   </div>

  <div class="row col-lg-10 col-lg-offset-1">
    <%= render 'form' %>
  </div>
</div>

<div class="container">
  <br>
  <div class="well row centered ">
    <!-- Single button -->
    <div class="btn-group">
      <button type="button" class="btn btn-danger  btn-sm  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Excluir <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Excluir do Sistema', [:admin, @event], method: :delete, data: { confirm: 'Tem certeza?' } %></li>
      </ul>
    </div>

  </div>
</div>
