<div class="container">
<div class="row text-center">
   <br>
   <h2> Eventos MedHacker</h2>
   <hr>
</div>


<section>
    <div class="container">
    <div class="row">
        <ul class="grid cs-style-3">
    <% @events.each do |event| %>
        <li>
            <figure>
                <%= image_tag event.image.image.project.url , class: "img-responsive" %>
                <figcaption>
                    <h3><%= event.name%></h3>
                    
                        <span></span>

                        <%= link_to "Ver Evento", event_path(code: event.code)%>
                </figcaption>
            </figure>
        </li>
    <%end%>
        </ul>
    </div>
    </div>
</section><!--/#portfolio-item-->

</div>

<div class="container">
<div class="row">
  <div class="text-center"> <%= will_paginate @events, renderer: BootstrapPagination::Rails, previous_label: "Voltar", next_label: "Próxima" %> </div>
</div>
</div>

</div>

