<div class="container">
<div class="row text-center">
   <br>
   <h2> Eventos MedHacker</h2>
   <hr>
</div>


<section id="portfolio">
    <div class="row">

      <% @events.each do |event| %>
        
        <% if event.published %>
            <div class="portfolio-items">
                <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-4">
                    <div class="recent-work-wrap">
                          <%= image_tag event.image.image.project.url , class: "img-responsive" %>

                        <div class="overlay text-center">
                            <div class="recent-work-inner">
                                <h3>
                                <%= link_to event.name, event_path(code: event.code)%>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
          <%end%>
      <%end%>
      </div>
  </div>

</section><!--/#portfolio-item-->
</div>

