<div class="container">
  
<div class="row text-center">
   <br>
   <h2> Projetos </h2>
   <hr>
</div>

<section id="portfolio">
       <div class="row">

        <% @projects.each do |project| %>
          <% if project.team.event.published %>
                <div class="portfolio-items">
                    <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-4">
                        <div class="recent-work-wrap">

                           <%= image_tag project.images[1].image.project.url , class: "img-responsive" %>

                            <div class="overlay text-center" style="background: rgb(0, 102, 177)">
                                <div class="recent-work-inner">
                                    <h3>
                                        <%= link_to project.name, project_path(code: project.team.event.code, project_name: project.name.parameterize)%>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

            <%end%>
        <%end%>
                         </div>
        </div>
  </section><!--/#portfolio-item-->
</div>
