<h1>Editing <%= @project.name %> </h1>

<%= render 'form2' %>

<%= link_to 'Show', admin_event_team_project_path(@project,
            code: @event.code, event_team_id: @team) %> |
<%= link_to 'Back', admin_event_team_projects_path(:code => @event.code,
    :event_team_id => @team) %>
