<div class="container">
  <div class="row centered">
      <h2>Novo Projeto: <b><%= @team.name %></b> </h2>
      <hr>
   </div>

  <div class="row col-lg-10 col-lg-offset-1">
    <%= render 'form' %>
  </div>

</div>
