<div class="container">
  <div class="row centered">
      <h2><%= @project.name %>
      </h2>
      <hr>
   </div>
   </div>

<div class="row col-lg-10 col-lg-offset-1 table-responsive">

<h3> Why </h3>
<p><%= @project.why %> </p>
<h3> How </h3>
<p><%= @project.how %> </p>
<h3> What </h3>
<p><%= @project.what %> </p>

</div>
</div>