<h1>Editing Admin Event User</h1>

<%= render 'form2' %>

<%= link_to 'Show', admin_event_user_path( @event_user, :code => @event.code) %> |
<%= link_to 'Back', admin_event_users_path(:code => @event.code) %>
