<div class="container">
  <div class="row centered">
      <h2> Novo Medhacker </h2>
      <hr>
   </div>

<div class="row col-lg-4 col-lg-offset-4">
<%= render 'form', url: admin_event_users_path(@event_user, :code => @event.code) %>

</div>
</div>
