<div class="container">
  <div class="row centered">
      <h2> Novo Organizador </h2>
      <hr>
   </div>

<div class="row col-lg-4 col-lg-offset-4">
<%= render 'form_create_manager', url: create_manager_admin_event_users_path(@event_user, :code => @event.code) %>

</div>
</div>
