<div class="container">
  <div class="row centered">
      <h2><%= @team.name %>
      </h2>
      <hr>
   </div>


<div class="row col-lg-4 col-lg-offset-4">
<p>
  <strong>Nome: </strong>
  <%= @team_user.user.name %>
</p>

<p>
  <strong>Tipo: </strong>
  <span class="label label-warning label-mini"><%= @team_user.role %></span></td>
</p>

</div>
</div>