<div class="container">
  <div class="row centered">
      <h2> Editar Usuário </h2>
      <hr>
</div>

<div class="row col-lg-4 col-lg-offset-4">
<%= simple_form_for [:admin, @user], url: user_password_admin_user_path  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :password, label: "Senha" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: "Enviar", class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
</div>

</div>
