<div class="container">
  <div class="row centered">
      <h2> Minhas Equipes </h2>
      <hr>
</div>

<div class="row col-lg-4 col-lg-offset-4 ">

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>Equipes</b></div>

<table class="table table-hover table-responsive", style="background:#fff">

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        
        <td><%= team.event.code %></td>
        <td><%= team.name %></td>

        <td>
          <%= link_to admin_event_team_path(team, :code => team.event.code) do %> 
            <i class="fa fa-eye btn btn-default btn-xs"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>

</div>