<div class="container">
  <div class="row centered">
      <h2> Usuário </h2>
      <hr>
    </div>

<div class="row col-lg-4 col-lg-offset-4">
<p>
  <strong> Name: </strong>
  <%= @user.name %>
</p>

<p>
  <strong> Email: </strong>
  <%= @user.email %>
</p>

<p>
  <strong> Role: </strong>
  <%= @user.role %>
</p>


<%= link_to 'Editar', edit_admin_user_path(@user), class: "btn btn-primary" %>

</div>

</div>