<div class="container">
  <div class="row centered">
      <h2> <%= link_to new_admin_event_team_path, class: "btn btn-primary" do %> 
        <i class="fa fa-plus-circle"></i> Nova Equipe
      <% end %>
      </h2>
      <hr>
   </div>

<div class="row col-lg-4 col-lg-offset-4 ">

<div class="panel panel-info table-responsive">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>Equipes</b></div>

<table class="table table-hover", style="background:#fff">

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>

        <td>
          <%= link_to admin_event_team_path(team, :code => @event.code) do %> 
            <i class="fa fa-eye"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>