<div class="container">
  <div class="row centered">
      <h2> Nova Equipe </h2>
      <hr>
   </div>

<div class="row col-lg-10 col-lg-offset-1">
<%= render 'form', url: admin_event_teams_path(@teams, :code => @event.code) %>
</div>

</div>